<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meadowlark Travel</title>
</head>
<body>
	<!-- 表示body部分的内容都会被render进来的其它handlebars文件取代 -->
	{{{body}}}
	<blockquote>{{fortune}}</blockquote>
</body>
</html>